

# IDE-specific files and folders
.classpath
.tomcatplugin
.project
.settings/
.idea/
*.iml
nb-configuration.xml
.externalToolBuilders/

# temp build files
/data
/target/
/test-output/
/test.json
logs/
meth.log
meth.pid
node.conf
.DS_Store
/bin/
WebContent/

