
  public TransactionResult ${entry.name}(${util.methodSignature($entry.inputs)}) {
    Object[] inputs = new Object[]{ ${util.inputList($entry.inputs)} };
    inputs = processInputArgs(inputs);
    APIResponse<APIData<TransactionResult>, TransactionResult> res =
      contractApi.transact(new ContractMethodCallCommand().address(contractAddress).method("${entry.name}").args(inputs));
    return res.getData();
  }
