
  public List<Object> ${entry.name}(${util.methodSignature($entry.inputs)}) {
    Object[] inputs = new Object[]{ ${util.inputList($entry.inputs)} };
    inputs = processInputArgs(inputs);
    APIResponse<List<Object>, Object> res =
      contractApi.read(new ContractMethodCallCommand().address(contractAddress).method("${entry.name}").args(inputs));
    return res.getApiData();
  }
