
.container-fs {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#editor {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
}

#sidebar {
    padding-right: 0;
    display: inline-block;
}

.editor {
   border-right:3px #eee solid;
}

/*
@media (max-width: 939px) {
	.row .sidebar {
    	width:48.62% !important;
	}
}
@media (max-width: 767px) {
	.row .sidebar {
    	width:100% !important;
        height:auto !important;
	}
}
@media (max-width: 1200px) {
	.row .sidebar {
    	width:49.62% !important;
	}
}
@media (max-width: 767px) {
	.row .sidebar {
    	width:100% !important;
        height:auto !important;
	}
}
*/

.start_hidden {
    display: none;
}

.sidebar .tab {
    padding-top: 10px;
}

.sidebar .tab {
    overflow-y: auto;
    padding-right: 15px;
}

.inner {
	overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}

/*.ui-resizable { position: relative;}*/
/*.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }*/
.ui-resizable-e { cursor: col-resize; }

.sidebar {
    padding-top: 10px;
}

#editor_input {
    height: 300px;
}

/* TX VIEW */
.shrink {
    cursor: pointer;
}

.papertape div.tx {
    padding: 5px;
    border-bottom: 2px dotted transparent;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.papertape div.tx .time {
	color: #9e9ea6;
	font-size: 9pt;
	font-family: source-sans-pro,pt sans,calibri,sans-serif;
	padding-top: 2px;
}

.papertape div.tx .addr, .papertape div.tx .tx, .papertape div.tx .block {
    font-weight: bold;
}


/* FILE TABS */
.red {
    color: red;
}
.filetabs li a {
    cursor: pointer !important;
}


/* COMPILER OUTPUT */

#output h3 {
    text-decoration: underline;
}

.udapp .contract > .title {
    cursor:pointer;
}

.udapp .contract > .title:before {
    content: "\25BC";
    opacity: 0.5;
    margin-right: 0.4em;
    font-size: 10px;
}

.contract.expand > .title:before {
    content: "\25B6";
}

.udapp .title {
	margin-bottom: 0.4em;
	display: inline-block;
	padding: 0.2em;
	background-color: rgba( 255,255,255,0.5 );
	display: block;
	font-weight: bold;
	padding-right: 2em;
	word-wrap: break-word;
	position: relative;
}

.udapp .title .size {
	position: absolute;
	right: 2.2em;
	top: 0.2em;
	font-weight: normal;
}

.gethDeployText {
    border-color: #bebebe;
    height: 2.5em;
    width: 100%;
    display: block;
}

.keyval-row {
    overflow: auto;
    display: block;
    clear: both;
    margin-top: 0.5em;
}

.col1 {
    width: 30%;
    float: left;
}

.col2 {
    width: 70%;
    float: left;
}

input[readonly] {
    padding: .4em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
